<div class="container">
    <form class="form" (ngSubmit)="sistemaProductos()" [formGroup]="newProducto">
      <h2 *ngIf="!newProducto.value.id; else editarProducto" >Integración de Producto</h2>
      <ng-template #editarProducto >
        <h2 >Edicion del Producto</h2>
      </ng-template>

      <mat-form-field class="form-field">
        <mat-label>Nombre del producto</mat-label>
        <input matInput name="nombreProducto" required formControlName="nombre" autocomplete="off">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Precio del producto</mat-label>
        <input matInput name="precioProducto" required formControlName="precio" autocomplete="off">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Cantidad</mat-label>
        <input matInput name="cantidadProductos" required formControlName="cantidad" autocomplete="off">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Codigo del producto</mat-label>
        <input matInput name="codigoProducto" required formControlName="codigo" autocomplete="off">
      </mat-form-field>
      
      <button *ngIf="!newProducto.value.id; else botonEditar" type="submit" [disabled]="newProducto.invalid" mat-raised-button>Guardar</button>
      <ng-template #botonEditar >
        <button type="submit" [disabled]="!newProducto.touched"  mat-raised-button>Guardar cambios</button>
      </ng-template>
    </form>
  </div>
  