<div style="margin: 10px 0 0 0;">
  <h2 style="text-align: center;">LISTADO DE FACTURAS
    <button routerLink="/home/factura" id="boton-nuevo-cliente"  mat-flat-button>Generar</button>
  </h2>
</div>

<div class="container">
  <mat-form-field >
    <mat-label>Buscador</mat-label>
    <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Ex. Juan" #input>
   </mat-form-field>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource">

      <!-- Nombre Cliente Column -->
      <ng-container matColumnDef="nombreCliente">
        <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
        <td mat-cell *matCellDef="let factura"> {{ factura.nombreCliente }} </td>
      </ng-container>

      <!-- Dirección Cliente Column -->
      <ng-container matColumnDef="direccionCliente">
        <th mat-header-cell *matHeaderCellDef> Dirección Cliente </th>
        <td mat-cell *matCellDef="let factura"> {{ factura.direccionCliente }} </td>
      </ng-container>

      <!-- Teléfono Cliente Column -->
      <ng-container matColumnDef="telefonoCliente">
        <th mat-header-cell *matHeaderCellDef> Teléfono Cliente </th>
        <td mat-cell *matCellDef="let factura"> {{ factura.telefonoCliente }} </td>
      </ng-container>

      <!-- Nombre Vendedor Column -->
      <ng-container matColumnDef="nombreVendedor">
        <th mat-header-cell *matHeaderCellDef> Nombre Vendedor </th>
        <td mat-cell *matCellDef="let factura"> {{ factura.nombreVendedor }} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let factura">
          <button [routerLink]="['/home/factura/info', factura.id]" mat-stroked-button color="accent">Factura</button>
          <button [routerLink]="['/home/factura/editar', factura.id]" mat-button color="primary">Editar</button>
          <button (click)="deleteFactura(factura.id)" mat-button color="warn">Eliminar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</div>
