.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .button {
    align-self: flex-end;
    margin-top: 20px;
  }
  
  ::ng-deep input.mat-input-element {
    color: #484a4c;
  }
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #0b0a13 !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #0b0a13 !important;
  }
  

/* CSS PARA MAT-TABLE */

.table-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  table-layout: auto;
  white-space: nowrap;
}

.mat-cell {
  padding: 8px 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

.mat-header-cell {
  font-weight: bold;
  padding: 12px 16px;
  text-align: left;
}

